<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="mx-left" style="width: 600px;margin-top: 200px;margin-left:100px;display:inline">
    <div class="float-left">
        <img src="https://sun9-45.userapi.com/impf/XISaSPMdIqlOrTI92mJUOjdD4fxB0AODP5XA3w/k_ZuZTEzu9k.jpg?size=538x807&quality=96&proxy=1&sign=5fdab6fcd452ae45cd23ba9e88cf99f8&type=album" alt="my_photo">
    </div>
    <div class="float-left" style="margin-left: 100px">
        <table class="table table-bordered table-dark">
            <tbody>
                <tr>
                    <th scope="row">ФИО</th>
                    <td>Насыбуллин Ильнур Анасович</td>
                </tr>
                <tr>
                    <th scope="row">Группа</th>
                    <td>09-851</td>
                </tr>
                <tr>
                    <th scope="row">email</th>
                    <td>ianasybulli@stud.kpfu.ru</td>
                </tr>
            </tbody>
        </table>

        <div>
            <button type="button" class="btn btn-primary">Мои интересы</button>
        </div>
    </div>
</div>
</body>

<script src="{% static "js/about.js" %}"></script>

</html>