<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/styles.css" %}"/>
    <title>Hello Django</title>
</head>
<body>
    <div class="container" style="margin-left:100px;margin-top:50px">
        <H1>Объявление  для абитуриентов</H1>
        <img src="https://vuzopedia.ru/storage/app/uploads/public/5a1/dca/908/5a1dca90814f2011816748.jpg" alt="Angry Birds"/>
        <p><a href="http://127.0.0.1:8000/list"/>Вывести список постов</p>
        <p><a href="http://127.0.0.1:8000/students"/>Вывести список студентов</p>
    </div>
</body>
</html>